.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    padding: 50px;
    font-family: "jost", sans-serif;
    margin-top: 2rem;
    letter-spacing: 1px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    width: 240px;
    font-size: 13px;
    z-index: 99999999;
  }
  