.save {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.recent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.col_save {
    font-size: 15px;
    font-weight: 600;
   font-family: 'jost', sans-serif;
   letter-spacing: 1px;
   word-spacing: 1px;
   padding: 0rem 1rem;
   margin-top: 2rem;
}
.col_aff {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    padding: 0rem 1rem;
    text-align: center;
    font-family: 'jost', sans-serif;
    margin-top: 2rem;
}
.col_m {
    font-family: 'jost', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}
.col_m div p {
    font-size: 2.8rem;
    padding: 1rem;
}