.sidebar {
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: fixed;
  background-color: #fff;
}

.sidebar_content {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.mobile_parent {
  display: none;
}
.container {
  display: flex;
  
}
.main {
  flex-grow: 1; /* Allow the main content to grow and take available space */
   position: absolute;
   z-index: 1;
   margin-left: 15rem;/* Add padding or styles to the main content as needed */
}

@media (max-width: 900px) {
  .sidebar,main {
    display: none;
  }

  .mobile_parent {
    display: unset;
    width: 100% !important;
    position: relative;
  }
}
