.home_route {
    padding: 3rem 3rem;
}
.home {
    background-color:  rgb(127, 127, 234);
    /* margin-top: 1rem; */
    border-radius: 8px;
    padding: 30px;
    font-family: 'jost',sans-serif;
    color: white;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}
.users_home {
   
    background-color: #1b1f26;
    border-radius: 8px;
    padding: 45px;
    font-family: 'jost',sans-serif;
    color: white;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}
.sub_home {
        /* background-color: #1b1f26; */
        border-radius: 8px;
        padding: 35px;
        font-family: 'jost',sans-serif;
        /* color: white; */
        letter-spacing: 1px;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.5)
}
.report_home {
    background-color:  rgb(127, 127, 234); 
    margin-top: 2rem;
    border-radius: 8px;
    padding: 40px;
    font-family: 'jost',sans-serif;
    color: white;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}
.report_2_home {
    background-color: #1b1f26;
    border-radius: 8px;
    padding: 45px;
    font-family: 'jost',sans-serif;
    letter-spacing: 1px;
    color: white;
}