 .create_account {
    /* font-family: system-ui; */
    font-weight: 600;
    font-size: 18px;
    font-family: 'Jost', sans-serif;
    letter-spacing: 1px;
 }
 .account_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 3rem;
    margin: 0 1rem 0 3rem;
    /* color: #ffff; */
    
 }
 .account {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
 }
 .logo {
      height: 140px;
    padding: 2rem 0;
 }
 .skype {
    font-size: 25px;
    font-family: 'Jost', sans-serif;
    color: navy;
    letter-spacing: 1px;
 }
 .details {
    font-family: 'Jost', sans-serif;
    padding: 5px;
    opacity: 0.7;
    font-size: 15px;
 }
 .input_v:focus {
     border: none;
     outline: none;
 }
 .account_type {
    font-family: 'Jost', sans-serif;
    word-spacing: 1px;
    letter-spacing: 1px;
    font-size: 14px;
 }

 @media (max-width:770px) {
    .account_container {
        margin: 6.5rem 0 0 3rem;
    }
 }