 .create_account {
    /* font-family: system-ui; */
    font-weight: 600;
    font-size: 18px;
    font-family: 'Jost', sans-serif;
    letter-spacing: 1px;
 }
 .account_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 3rem;
    margin: 0 1rem 0 3rem;
    /* color: #ffff; */
    
 }
 .account {
    
 }

 @media (max-width:770px) {
    .account_container {
        margin: 6.5rem 1rem 0 3rem;
    }
 }