.post {
    border-radius: 5px;
    padding: 50px;
    font-family: "jost", sans-serif;
  margin-top: 3rem;
    letter-spacing: 1px;
    /* box-shadow: 0 0 3px rgba(0, 0, 0, 0.5); */
}
.add {
    margin-top: 2rem;
}
.lay {
border-radius: 5px; 
box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
gap: 1rem;
padding: 20px;
font-family: "jost", sans-serif;
width: 100%;
margin: 2rem;
letter-spacing: 1px;
}