.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 4rem;
    grid-row-gap: 0px;
    width: 100%;
    padding: 3rem 3rem;
    font-family: 'jost',sans-serif;
    height: 100vh;
    }
    .utility {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 4rem;
        grid-row-gap: 0px;
        width: 500px;
    }
    .row2 {
        margin-left: 5rem;
    }
    :is(div h2){
        font-size: 2.5rem;
    }
    .search {
        width: 100%;
        height: 40px;
        background-color: #464e5d;
        padding: 10px;
        outline: none;
        border: none;
        color: white;
        border-radius: 5px;
    }
    
    .search:focus {
        outline: none;
    }
    .login {
        background-color:  rgb(127, 127, 234);
        margin-top: 2rem;
        border-radius: 8px;
        padding: 30px;
        font-family: 'jost',sans-serif;
        color: white;
        letter-spacing: 1px;
        margin-bottom: 2rem;
    }
    .users {
        background-color: #1b1f26;
        border-radius: 8px;
        padding: 45px;
        font-family: 'jost',sans-serif;
        color: white;
        letter-spacing: 1px;
    }
    .users_sub {
        /* background-color: #1b1f26; */
        border-radius: 8px;
        padding: 35px;
        font-family: 'jost',sans-serif;
        /* color: white; */
        letter-spacing: 1px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
    }