.saved {
    padding: 3rem 3rem;
    width: 100%;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap:2rem;
    grid-row-gap:2rem;
}
.recent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}
.col_1 {
     font-size: 16px;
     font-weight: 600;
    font-family: 'jost', sans-serif;
    letter-spacing: 1px;
    word-spacing: 1px;
    padding: 0rem 1rem;
}
.col_2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    padding: 0rem 1rem;
    text-align: center;
    font-family: 'jost', sans-serif;
}
.col_3 {
    font-family: 'jost', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}
.col_3 div p {
    font-size: 2.8rem;
      padding: 1rem;
}
