.explore {
  padding: 3rem 3rem;
  font-family: "jost", sans-serif;
}
.top_explore {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 6rem;
}
.add_new {
  background-color: rgb(27, 207, 147);
  width: 140px;
  height: 35px;
  font-size: 13px;
  /* color: white; */
  letter-spacing: 1px;
}
.project {
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 1px;
}
.explore_check {
  margin-top: 3rem;
  display: flex;
  justify-content: space-around;
  justify-content: center;
  gap: 12rem;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 14px;
}
.layout {
  border-radius: 5px;
  padding: 50px;
  font-family: "jost", sans-serif;
  margin-top: 2rem;
  letter-spacing: 1px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  width: 240px;
  font-size: 13px;
}
.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
.grid_layout {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* grid-row: 2rem; */
    /* padding: 1rem; */
    column-gap: 2rem;
}