.post {
  padding: 3rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 4rem;
}
.posting {
  border-radius: 5px;
  padding: 50px;
  font-family: "jost", sans-serif;
margin-top: 2rem;
  letter-spacing: 1px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  
}
.post_lay {
    border-radius: 5px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    padding: 20px;
    font-family: "jost", sans-serif;
    width: 100%;
    margin: 2rem;
}
